<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ariel.aimclothing">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="AIM Express"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Login">

        </activity>
        <activity android:name=".activities.Registration" />
        <activity android:name=".activities.UserHome" />
        <activity android:name=".activities.UserShop"
            >

        </activity>
        <activity android:name=".activities.AdminHome" />
        <activity android:name=".activities.Admin_Edit_Prods" />
        <activity android:name=".activities.Admin_Edit_User" />
        <activity android:name=".activities.CartActivity"></activity>
    </application>

</manifest>